/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

/* Hero Section */
.hero-section {
    color: 004d26;
    padding: 20px;
    text-align: center;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    Background: linear-gradient(135deg, #004d26, #007d4f);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Sombra para destaque */
}

nav img {
    width: 140px; /* Redimensionamento do logotipo */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
    margin: 0;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    color: #fffa; /* Cor de destaque */
    background-color: rgba(255, 255, 255, 0.2); /* Fundo no hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efeito de brilho */
}
/* Seção de Abertura */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.content-images {
    display: flex;
    gap: 20px;
}

.content-images img {
    width: 250px;
    height: 400px; /* Para garantir que as imagens tenham o mesmo tamanho */
    object-fit: cover; /* Para garantir que as imagens se ajustem ao espaço */
    border-radius: 20px; /* Bordas quadradas */
}

.content-text {
    margin-left: 50px;
    max-width: 500px;
    text-align: justify; /* Justificar o texto */
    
}

.content-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
}

.content-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.content-text a {
    color: green;
    text-decoration: none;
}

.content-text a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .content-images {
        flex-direction: column;
        gap: 20px;
    }

    .content-text {
        margin: 30px 0 0 0;
    }
}

/* Seção de Atividades */
.atividades {
    padding: 40px 20px;
    background-color: #fff;
}

.atividades h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.grid {
    display: flex;
    justify-content: center; /* Centraliza os cartões */
    flex-wrap: wrap;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0; /* Remove bordas arredondadas */
    padding: 0; /* Remove o preenchimento interno */
    width: 300px;
    margin: 4px; /* Aumenta o espaço entre os cartões */
    text-align: center;
    border-radius: 20px;
}

.card img {
    width: 100%; /* Faz com que a imagem cubra toda a largura do cartão */
    height: 150px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Faz com que a imagem cubra a área sem distorção */
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    color: #666;
}


/* Seção de Políticas Públicas */
/* Seção de Políticas Públicas */
/* Seção de Políticas Públicas */
.politicas {
    background-color: white;
    padding: 40px 20px;
}

.politicas h2 {
    text-align: center;
    margin-bottom: 10px; /* Diminui o espaço inferior para aproximar do texto */
    font-size: 28px;
}

.politicas ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Layout com 2 colunas */
    grid-gap: 80px; /* Espaço entre os quadrados */
    padding: 0;
    max-width: 800px; /* Ajusta a largura máxima para acomodar 2 colunas */
    margin: 0 auto;
}

.politicas ul li {
    background-color: #fff;
    padding: 20px;
    height: 200px; /* Altura fixa dos quadrados */
    width: 100%; /* Largura ajustada automaticamente para preencher a coluna */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo no topo */
    text-align: center;
    border-left: 5px solid #968EEB;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Garante que o conteúdo extra não transborde */
    position: relative;
}

.politicas ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.politicas ul li strong {
    color: #968EEB;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px; /* Adiciona espaço entre o ícone e o título */
}

.politicas ul li img.icon {
    width: 24px; /* Define o tamanho do ícone */
    height: 24px;
    position: absolute;
    top: 20px; /* Alinha o ícone no topo */
    left: 20px; /* Posiciona o ícone à esquerda */
}

.politicas ul li p {
    font-size: 14px;
    color: #666;
    margin-top: auto;
    overflow: hidden; /* Esconde o excesso de texto */
    text-overflow: ellipsis; /* Adiciona "..." no final se o texto for longo */
    white-space: nowrap; /* Garante que o texto fique em uma linha */
}

/* Rodapé */
footer {
    background-color: #F3F1FA;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.footer-logo img {
    width: 200px;
}

.footer-logo p {
    margin: 10px 0;
    color: #666;
}

.footer-logo .social-icons a {
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #666;
    font-size: 20px;
}

.footer-links, .footer-legal {
    display: flex;
    flex-direction: column;
}

.footer-links h4, .footer-legal h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.footer-links a, .footer-legal a {
    text-decoration: none;
    color: #666;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-legal {
    align-items: flex-start;
}

.footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #666;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-logo, .footer-links, .footer-legal {
        margin-bottom: 20px;
    }
}
/* Topico */

.container2 {
    max-width: 800px; /* Limita a largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
    padding: 40px 20px; /* Adiciona espaçamento nas laterais e parte superior/inferior */
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
}

h1 {
    text-align: center; /* Centraliza o texto do h1 */
    margin-bottom: 30px; /* Adiciona um espaçamento inferior para afastar o h1 do conteúdo abaixo */
    font-size: 28px; /* Ajuste de tamanho de fonte, opcional */
    color: #333; /* Cor do texto, opcional */
}

.activity {
    margin: 20px auto; /* Centraliza cada atividade e adiciona espaçamento */
    padding: 20px; /* Espaçamento interno */
    max-width: 90%; /* Limita a largura de cada atividade */
    background-color: #fff; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.content2 {
    max-width: 100%;
    padding: 0 10px; /* Espaçamento interno */
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #9e5edb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

